<div [class.hero-container-shrunk]="isShrunk" class="hero">
  <div [class.remove]="isShrunk" class="mt-5 hero-content text-center text-white">
    <h1>Welcome to Amores Kitchen & Bar</h1>
    <div class="order-buttons">
      <div class="button-group">
        <a href="https://www.grubhub.com/restaurant/amores-kitchen-bar-165-pleasant-st-marblehead/3352514" class="order-button grubhub" target="_blank">
          <img height="85" width="175" src="assets/grubhub-btn.png" alt="">
        </a>
        <a href="https://www.ubereats.com/store/amores-kitchen-bar/nWp_kpnxWfig27tOzzDfEg?diningMode=DELIVERY&ps=1&sc=SEARCH_SUGGESTION" class="order-button ubereats" target="_blank">
          <img height="85" width="175" src="assets/button-ubereats.png" alt="">
        </a>
      </div>
      <a href="https://www.doordash.com/store/amores-kitchen-bar-marblehead-24164537/" class="order-button ubereats" target="_blank">
        <img height="60" width="250" src="assets/door-dash-btn.png" alt="">
      </a>
    </div>
  </div>
</div>

<!-- <div class="banner">
  <div class="banner-sections">
    <div class="banner-section"></div>
    <div class="banner-section">
      <p>Mon - Sat: 11am - 10pm</p>
      <p>Sunday: 11am - 9pm</p>
    </div>
    <div class="banner-section">
      <p>165 Pleasant St #3,</p>
      <p>Marblehead, MA 01945</p>
      <p>(781) 990-3708</p>
    </div>
    <div class="banner-section"></div>
  </div>
</div>

<div class="gallery">
  <img src="assets/drink-image.jpg" alt="Gallery Image 1">
  <img src="assets/food.jpg" alt="Gallery Image 2">
  <img src="assets/food2.jpg" alt="Gallery Image 3">
  <img src="assets/drink3.jpg" alt="Gallery Image 4">
  <img src="assets/food7.jpg" alt="Gallery Image 5">
  <img src="assets/food-tg2.jpg" alt="Gallery Image 6">
  <img src="assets/food8.jpg" alt="Gallery Image 7">
  <img src="assets/food10.jpg" alt="Gallery Image 8">
</div>

<div class="banner2">
  <div class="banner-sections2">
    <h2 class="banner-title">High Quality Ingredients!</h2>
  </div>
</div>

<div class="reviews-section">
  <h2 class="reviews-title">See What Our Customers Have To Say!</h2>
  <owl-carousel-o [options]="carouselOptions">
    <ng-template carouselSlide>
      <div class="review">
        <h3 class="review-author">Leslie <span class="stars">★★★★★</span></h3>
        <p class="review-text">Partner and I were vacationing in the area and planned to stop by. The service was great and the food was delicious. The calamari tacos were sooo good and everything that we ate tasted fresh especially the guac. We will def be back</p>
      </div>
      <div class="review">
        <h3 class="review-author">Ama Dominguez <span class="stars">★★★★★</span></h3>
        <p class="review-text">The food was delicious 😋, our waitress was awesome very sweet and friendly. And the music was good. Definitely enjoyed self.</p>
      </div>
      <div class="review">
        <h3 class="review-author">Justin D <span class="stars">★★★★★</span></h3>
        <p class="review-text">Parents — Amores is a great option for bringing your kids out in town. It’s big enough that you shouldn’t have to stress about a long wait for a table; they have a great kids menu (with French fries if your kids are picky); and adults can enjoy their excellent food and margaritas. Their menu is much better and sophisticated than the typical suburban Mexican restaurant. Definitely better than the options in Salem, last I checked. The service was great too: prompt, friendly, accommodating.</p>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="review">
        <h3 class="review-author">Kit Whelan <span class="stars">★★★★★</span></h3>
        <p class="review-text">SUCH a wonderful place!! This is the best Mexican food we’ve had since moving to New England. We had taquitos and chimichangas and both were delicious, but the highlight for me was the flan. OMG it was so creamy! And the staff were so kind and welcoming. We will definitely be back!</p>
      </div>
      <div class="review">
        <h3 class="review-author">Lexie Neffinger <span class="stars">★★★★★</span></h3>
        <p class="review-text">Coming from south Texas, we were afraid we wouldn’t be able to find anything close to the taquerias we were used to. Amores really filled the void!!! Fresh chips, good salsa, and a really unique & delish bean dip come out first. The chimichangas were …. sooooo goood. 🔥 queso, 🔥 mole, 🔥 margs.</p>
      </div>
      <div class="review">
        <h3 class="review-author">Ariana Zarate <span class="stars">★★★★★</span></h3>
        <p class="review-text">The folks here are incredibly friendly and welcoming. We love making the drive to Amores- we can always count on food quality food and amazing drinks!</p>
      </div>
    </ng-template>
  </owl-carousel-o>
</div>

<div class="footer-container">
  <h2 class="reviews-title text-center">Come Visit Us Today!</h2>
  <div class="w-full text-center">
    <img class="front" src="../../assets/outside-front.webp" alt="">
  </div>

  <div class="footer-content">
    <div class="map-container">
      <iframe width="100%" height="100%" style="border:0" loading="lazy" allowfullscreen
        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAo8ug8MO95hKXN00mgBedWiQc2cQVhyzU&q=Amores+Mexican+Restaurant,Marblehead,MA">
      </iframe>
    </div>
    <div class="restaurant-info text-center">
      <h2>Amores Mexican Restaurant</h2>
      <p>Address: 165 Pleasant St #3, Marblehead, MA 01945</p>
      <p>Phone: (781) 990-3708</p>
      <h4>Hours:</h4>
      <p>Mon - Sat: 11am - 10pm</p>
      <p>Sunday: 11am - 9pm</p>
    </div>
  </div>
  <div class="footer-details">
    <p>©2024 by Amores Mexican Restaurant</p>
  </div>
</div> -->
