<div class="hero">
    <div class="hero-content text-center text-white">
        <!-- <h1>Welcome to Fiesta Bowl</h1> -->
    </div>
</div>
<div class="banner">
    <!-- <h2 class="banner-title">Come Eat Today!</h2> -->
    <div class="banner-sections">
        <div class="banner-section"></div>
        <div class="banner-section">
            <p>Mon - Sat: 11am - 10pm</p>
            <p>Sunday: 11am - 9pm</p>
        </div>
        <div class="banner-section">
            <p>165 Pleasant St #3,</p>
            <p>Marblehead, MA 01945</p>
            <p>(781) 990-3708</p>
        </div>
        <div class="banner-section"></div>
    </div>
</div>


<div class="gallery">
    <img src="assets/drink-image.jpg" alt="Gallery Image 1">
    <img src="assets/food.jpg" alt="Gallery Image 2">
    <img src="assets/food2.jpg" alt="Gallery Image 3">
    <img src="assets/drink3.jpg" alt="Gallery Image 3">
    <img src="assets/food7.jpg" alt="Gallery Image 3">
    <img src="assets/food-tg2.jpg" alt="Gallery Image 3">
    <img src="assets/food8.jpg" alt="Gallery Image 3">
    <img src="assets/food10.jpg" alt="Gallery Image 3">
</div>

<div class="banner2">
 <div class="banner-sections2">
    <h2 class="banner-title">Come Eat Today!</h2>
    </div>
</div>


<div class="reviews-section">
    <h2 class="reviews-title">See What Our Customers Have To Say!</h2>
    <div class="review">
      <h3 class="review-author">Emily <span class="stars">★★★★★</span></h3>
      <p class="review-text">Would give Fiesta Bowl more than 5 stars if possible! This is such a fun Mexican restaurant!!! Drinks are awesome - trying the margarita flight at least once is a must!!! Chips and salsa are good and the guacamole is also really good. All of the food I've tried has been delicious too. I always have so much fun coming here and it is a really fun environment.</p>
    </div>
    <div class="review">
      <h3 class="review-author">John <span class="stars">★★★★☆</span></h3>
      <p class="review-text">Great place for Mexican food. The atmosphere is vibrant and the staff is friendly. The food is consistently good and the drinks are excellent. Definitely a place to visit again and again.</p>
    </div>
    <div class="review">
      <h3 class="review-author">Sarah <span class="stars">★★★★★</span></h3>
      <p class="review-text">Amazing food and great service! The margaritas are top-notch, and the tacos are the best I've ever had. Highly recommend this place for a fun night out.</p>
    </div>
  </div>
  



  <div class="footer-container">
    <div class="footer-content">
      <div class="map-container">
        <iframe
          width="100%"
          height="100%"
          style="border:0"
          loading="lazy"
          allowfullscreen
          src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAo8ug8MO95hKXN00mgBedWiQc2cQVhyzU&q=Amores+Mexican+Restaurant,Marblehead,MA">
        </iframe>
      </div>
      <div class="restaurant-info text-center">
        <h2>Amores Mexican Restaurant</h2>
        <p>Address: 165 Pleasant St #3, Marblehead, MA 01945</p>
        <p>Phone: (781) 990-3708</p>
        <h4>Hours:</h4>
        <p>Mon - Sat: 11am - 10pm</p>
        <p>Sunday: 11am - 9pm</p>
      </div>
    </div>
    <div class="footer-details">
      <p>©2024 by Amores Mexican Restaurant</p>
    </div>
  </div>
  