.app-container.fade-in {
    background-color: white;
    transition: background-color 2s ease-in-out;
  }
  
  .app-container.fade-in.transitioned {
    background-color: transparent;
  }
  
  .footer-details {
    text-align: center;
    color: #555;
    margin-top: 20px;
  }
  
  .footer-details p {
    margin: 0;
    font-size: 14px;
  }